:root {
    --cardWidth: 12.5rem;
    --cardHeight:12.1rem;
    --cardMargin: 0.62rem;
    
}

.categoria {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    margin: 60px 0px
}
    
.texto-categoria{    
    width: 85%;
    height: 38px;;
    display:flex;
    flex-direction: row;
    justify-content: space-between
     
}

.texto-categoria h2{
    font-size: 32px;
}

.texto-categoria a{
    font-size: 16px;
    color: var(--fuente-productos-azul)
}
.productos {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* background: #bbb; */
    
}

.card {
    width: var(--cardWidth);
    height: var(--cardHeight);
    margin: var(--cardMargin);
    /* border: 1px solid #ccc; */
    /* background: #fff; */
    box-sizing: border-box;
}

.card img{
    width: 100%;
    display: flex; 
    
}

.card h3 {
    font-weight: 500;
    font-size: 14px;
    color: var(--fuente-productos);
    margin-top: 10px;
    margin-bottom: 10px;
}

.card p {
    font-weight: 700;
    font-size: 16px;
    color: var(--fuente-productos);
    margin-top: 10px;
    margin-bottom: 10px;
}

.card a {
    font-weight: 700;
    font-size: 16px;
    color: var(--fuente-productos-azul);
    margin-top: 10px;
    margin-bottom: 10px;
}


@media (min-width:375px) and (max-width:768px){

    .card{
        width: 9.7rem;
        height: 10.8rem;
        margin: 0.25rem;
    } 

    .card img{
        width: 70%;
    }
    .card a {
        font-size: 14px;
        margin-top: 0.31rem;
        margin-bottom: 0.31rem; 
    }
}


